html, body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.titulo h1{
 margin-top: 50px;
 margin-bottom: 200px;
 font-family: Montserrat, sans-serif;
 font-size: 3em;
 text-align: center;
}

.container{
 max-width: 940px;
 margin: 0 auto;
 padding: 0;
}

img{
  display: inline-block;
}
