html, body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.titulo h1{
 margin-top: 30px;
 margin-bottom: 30px;
 font-family: Montserrat, sans-serif;
 font-size: 3em;
}

.container{
 max-width: 940px;
 margin: 0 auto;
 padding: 0;
}

img{
  width: 235px;
  height: 235px;
}
